Здравствуйте <%= @user.fio %>!
<br/><br/>
Администратор создал вашу учетную запись в системе GreenLineToll.
<br/>
<b>Ваш логин: <%= @user.login %></b><br/>
<b>Ваш пароль: <%= @password %></b><br/>
<a href="http://gl.tool">Нажмите сюда чтобы войти в систему и приступить к работе</a>
<br/><br/><br/>
<i>
------------<br/>
Это письмо создано автоматически и ответа не требует.
</i>
