.user_edit  { background-image: url(/ext/shared/icons/app/user_edit.png) !important; }
.user_delete{ background-image:url(/ext/shared/icons/app/user_delete.png) !important; }
.user_change_password{ background-image:url(/ext/shared/icons/app/key.png) !important; }
.log{ background-image:url(/ext/shared/icons/app/report.png) !important; }

.edit  { background-image: url(/ext/shared/icons/app/pencil.png) !important; }
.delete{ background-image:url(/ext/shared/icons/app/delete.png) !important; }
.money{ background-image:url(/ext/shared/icons/app/money.png) !important; }
.money_add{ background-image:url(/ext/shared/icons/app/money_add.png) !important; }
.money_save{ background-image:url(/ext/shared/icons/app/save.png) !important; }
.money_delete{ background-image:url(/ext/shared/icons/app/money_delete.png) !important; }
.refresh{ background-image:url(/ext/shared/icons/app/arrow_refresh.png) !important; }
.key{ background-image:url(/ext/shared/icons/app/key.png) !important; }


.add {background-image: url( /ext/shared/icons/app/add.png ) !important;}
.save {background-image: url( /ext/shared/icons/app/disk.png ) !important;}
.wizard {background-image: url( /ext/shared/icons/app/wand.png ) !important;}

.x-panel-default-framed { border-width:0px; }

.pred {color:red; cursor:pointer;}
.pgreen {color:green; cursor:pointer; font-weight:bold;}

.bold{font-weight:bold !important;}
.border-right { border-right:1px solid #666666 !important; }
.backgrouned { background-color:#CCCCCC !important; }
.x-column-header { text-align:center !important; }

a.a-right {
    color: #333333;
    font-weight: normal;
    margin-left: 100px !important;
    margin:0px !important;
    padding: 0px !important;
}

div.document-item { margin:5px 15px 0 15px; }
div.document-item:hover{  }
div.document-item a {
    color: #666666;
    text-decoration:underline;
    font-weight: normal;
}

.hint { font-size: 9px; color: #666666; }
#clientDeleteMessage { padding: 20px; }
#clientDeleteMessage ul {
    margin: 15px;
    list-style: circle outside;
}
#clientDeleteMessage ul li a { color: black; }
.requests_dvew {
    background: white; border: 1px solid #A1A1A1 !important; margin-bottom:10px;
}
.request-wrap {
    padding: 5px 5px 5px 10px;
}
.requestDeleteBnt {
    cursor:pointer; opacity: 0.3; -webkit-opacity: 0.3;
}
.requestDeleteBnt:hover {
    cursor:pointer; opacity: 1; -webkit-opacity: 1;
}
.small_date { font-size: 10px; color: #333333; text-align:right;}
.forming {background-image: url(/ext/shared/icons/app/bullet_go.png) !important;}



