<!DOCTYPE html>
<html>
<head>
  <title>Greenline Tools</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <link rel="stylesheet" type="text/css" href="/ext/resources/css/ext-all-gray.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  <link rel="stylesheet" type="text/css" href="/ext/shared/example.css" />
  <script type="text/javascript" src="/ext/ext-all.js"></script>
  <script type="text/javascript" src="/ext/shared/examples.js"></script>
  <script type="text/javascript"> Ext.ns("Gl"); </script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
